Repository lewislbr/plants-almanac: changes, and which lint-staged commands are due for each by the changed paths.
All: cd plants && npm run lint, cd plants && npm run format, cd ui && npm run lint, cd ui && npm run format

Refactor GraphQL operation names
  plants/pkg/http/graphql/schema.go
  ui/src/App.tsx
  ui/src/components/PlantCard.tsx
  ui/src/graphql/mutations/add.graphql
  ui/src/graphql/mutations/delete.graphql
  ui/src/graphql/mutations/deletePlant.graphql
  ui/src/graphql/queries/getPlants.graphql
  ui/src/graphql/queries/plant.graphql
  ui/src/graphql/queries/plants.graphql
  ui/src/graphql/types.tsx
  ui/src/views/AddPlant.tsx
  ui/src/views/PlantDetails.tsx
  ui/src/views/Plants.tsx
Due: cd ui && npm run lint, cd ui && npm run format

Refactor to hexagonal architecture
  plants/pkg/add/service.go
  plants/pkg/delete/service.go
  plants/pkg/edit/service.go
  plants/pkg/entity/plant.go
  plants/pkg/http/graphql/resolvers.go
  plants/pkg/http/graphql/schema.go
  plants/pkg/list/service.go
  plants/pkg/storage/mongodb/repository.go
Due: none

Reword message
  ui/src/components/Alert.tsx
Due: cd ui && npm run lint, cd ui && npm run format

Update types
  ui/src/graphql/types.tsx
Due: cd ui && npm run lint, cd ui && npm run format

Add Makefiles
  .gitignore
  plants/Makefile
  ui/Makefile
Due: none

Add GitHub Actions
  .github/workflows/plants.yml
  .github/workflows/ui.yml
Due: none

Rename environment variables
  .github/workflows/plants.yml
  .github/workflows/ui.yml
  Makefile
  plants/Makefile
  plants/pkg/http/graphql/handler.go
  plants/pkg/storage/mongodb/repository.go
  ui/Makefile
  ui/nginx.conf
  ui/src/index.tsx
  ui/webpack.config.js
Due: cd ui && npm run lint, cd ui && npm run format

Refactor
  .github/workflows/plants.yml
  .github/workflows/ui.yml
  docker-compose-dev.yml
  plants/Makefile
  ui/Makefile
Due: none

Add local database
  .github/workflows/plants.yml
  .pre-commit-config.yaml
  Makefile
  docker-compose-dev.yml
  plants/Makefile
  plants/pkg/storage/mongodb/repository.go
Due: none

Rename project
  .pre-commit-config.yaml
  docker-compose-dev.yml
  plants/Makefile
  ui/Makefile
  ui/package-lock.json
  ui/package.json
  ui/src/index.html
Due: cd ui && npm run format

Swap volume for host folder
  .github/workflows/plants.yml
  .gitignore
  Makefile
  docker-compose-dev.yml
  plants/Makefile
  ui/Makefile
Due: none

Remove unneeded step
  plants/Dockerfile.prod
Due: none

Add database auth
  .github/workflows/plants.yml
Due: none

Add Docker network
  .github/workflows/plants.yml
  Makefile
  docker-compose-dev.yml
  plants/Makefile
  ui/Makefile
Due: none

Rename environment variables
  .github/workflows/plants.yml
  .github/workflows/ui.yml
  .pre-commit-config.yaml
  docker-compose-dev.yml
  plants/pkg/storage/mongodb/repository.go
  ui/Makefile
Due: none

Enable HTTPS
  .github/workflows/ui.yml
  ui/nginx.conf
Due: none

Refactor database setup
  .github/workflows/plants.yml
  Makefile
  docker-compose-dev.yml
  plants/.dockerignore
  plants/db/Dockerfile.dev
  plants/db/Dockerfile.prod
  plants/db/mongod.conf
Due: none

Add service proxy
  .github/workflows/plants.yml
  docker-compose-dev.yml
  plants/pkg/http/graphql/handler.go
  plants/proxy/Dockerfile.dev
  plants/proxy/Dockerfile.prod
  plants/proxy/envoy-dev.yaml
  plants/proxy/envoy-prod.yaml
  ui/nginx.conf
Due: cd plants && npm run format

Refactor folders and files
  .github/workflows/plants-app.yml
  .github/workflows/plants-db.yml
  .github/workflows/plants-proxy.yml
  .github/workflows/plants.yml
  .github/workflows/ui.yml
  .gitignore
  .pre-commit-config.yaml
  docker-compose-dev.yml
  plants/Makefile
  plants/app/.dockerignore
  plants/app/Dockerfile.dev
  plants/app/Dockerfile.prod
  plants/app/cmd/server/main.go
  plants/app/go.mod
  plants/app/go.sum
  plants/app/pkg/add/service.go
  plants/app/pkg/delete/service.go
  plants/app/pkg/edit/service.go
  plants/app/pkg/entity/plant.go
  plants/app/pkg/http/graphql/handler.go
  plants/app/pkg/http/graphql/resolvers.go
  plants/app/pkg/http/graphql/schema.go
  plants/app/pkg/list/service.go
  plants/app/pkg/storage/mongodb/repository.go
  plants/db/.dockerignore
  plants/proxy/.dockerignore
  ui/.dockerignore
  ui/Makefile
Due: none

Enable HTTPS
  .github/workflows/plants-app.yml
  .github/workflows/plants-proxy.yml
  plants/app/pkg/http/graphql/handler.go
  plants/proxy/envoy-prod.yaml
  ui/nginx.conf
Due: cd plants && npm run format

Minor refactor
  .github/workflows/plants-app.yml
  docker-compose-dev.yml
  plants/app/pkg/http/graphql/handler.go
  plants/app/pkg/storage/mongodb/repository.go
  plants/db/Dockerfile.prod
  plants/proxy/Dockerfile.dev
  plants/proxy/Dockerfile.prod
  plants/proxy/envoy-dev.yaml
Due: cd plants && npm run format

Extend Envoy config
  plants/proxy/envoy-dev.yaml
  plants/proxy/envoy-prod.yaml
Due: cd plants && npm run format

Edit step name
  .github/workflows/plants-db.yml
  .github/workflows/plants-proxy.yml
Due: none

Update Go version
  plants/app/Dockerfile.dev
  plants/app/Dockerfile.prod
Due: none

Enable code splitting
  ui/src/App.tsx
Due: cd ui && npm run lint, cd ui && npm run format

Allow serve Brotli files
  ui/nginx.conf
Due: none

Rename service
  .github/workflows/plants-app.yml
  .github/workflows/web-service.yml
  .pre-commit-config.yaml
  docker-compose-dev.yml
  plants/app/pkg/http/graphql/handler.go
  web/.babelrc
  web/.dockerignore
  web/.eslintrc
  web/.prettierrc
  web/Dockerfile.dev
  web/Dockerfile.prod
  web/codegen.yml
  web/global.d.ts
  web/jest.config.js
  web/nginx.conf
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/__mocks__/fileMock.js
  web/src/components/Alert.tsx
  web/src/components/Header.tsx
  web/src/components/PlantCard.tsx
  web/src/components/index.ts
  web/src/graphql/mutations/add.graphql
  web/src/graphql/mutations/delete.graphql
  web/src/graphql/queries/plant.graphql
  web/src/graphql/queries/plants.graphql
  web/src/graphql/types.tsx
  web/src/index.html
  web/src/index.tsx
  web/src/styles.css
  web/src/views/AddPlant.tsx
  web/src/views/PlantDetails.tsx
  web/src/views/Plants.tsx
  web/src/views/index.ts
  web/tailwind.config.js
  web/tsconfig.json
  web/webpack.config.js
Due: none

Rename make command
  Makefile
Due: none

Split service app and proxy
  .pre-commit-config.yaml
  web/Dockerfile.dev
  web/Dockerfile.prod
  web/app/.babelrc
  web/app/.dockerignore
  web/app/.eslintrc
  web/app/.prettierrc
  web/app/codegen.yml
  web/app/global.d.ts
  web/app/jest.config.js
  web/app/package-lock.json
  web/app/package.json
  web/app/src/App.tsx
  web/app/src/__mocks__/fileMock.js
  web/app/src/components/Alert.tsx
  web/app/src/components/Header.tsx
  web/app/src/components/PlantCard.tsx
  web/app/src/components/index.ts
  web/app/src/graphql/mutations/add.graphql
  web/app/src/graphql/mutations/delete.graphql
  web/app/src/graphql/queries/plant.graphql
  web/app/src/graphql/queries/plants.graphql
  web/app/src/graphql/types.tsx
  web/app/src/index.html
  web/app/src/index.tsx
  web/app/src/styles.css
  web/app/src/views/AddPlant.tsx
  web/app/src/views/PlantDetails.tsx
  web/app/src/views/Plants.tsx
  web/app/src/views/index.ts
  web/app/tailwind.config.js
  web/app/tsconfig.json
  web/app/webpack.config.js
  web/proxy/nginx.conf
Due: none

Rename images and containers
  .github/workflows/plants-app.yml
  .github/workflows/plants-db.yml
  .github/workflows/plants-proxy.yml
  .github/workflows/web-service.yml
  .pre-commit-config.yaml
  docker-compose-dev.yml
  plants/proxy/envoy-dev.yaml
  plants/proxy/envoy-prod.yaml
Due: cd plants && npm run format

Add manual CI/CD trigger
  .github/workflows/plants-app.yml
  .github/workflows/plants-db.yml
  .github/workflows/plants-proxy.yml
  .github/workflows/web-service.yml
Due: none

Fix incorrect paths
  web/.dockerignore
  web/Dockerfile.prod
  web/app/webpack.config.js
Due: none

Update Envoy version
  plants/proxy/Dockerfile.dev
  plants/proxy/Dockerfile.prod
Due: none

Extract service proxy as API gateway
  .github/workflows/api-gateway.yml
  api-gateway/.dockerignore
  api-gateway/Dockerfile.dev
  api-gateway/Dockerfile.prod
  api-gateway/envoy-dev.yaml
  api-gateway/envoy-prod.yaml
  docker-compose-dev.yml
  plants/app/pkg/http/graphql/handler.go
Due: none

Rename workflow
  .github/workflows/web-app.yml
Due: none

Minor renamings
  .github/workflows/api-gateway.yml
  .github/workflows/plants-app.yml
  .github/workflows/plants-db.yml
  web/Dockerfile.prod
  web/server/nginx.conf
Due: none

Swap nginx for Go
  .github/workflows/web-app.yml
  .pre-commit-config.yaml
  web/Dockerfile.prod
  web/server/go.mod
  web/server/go.sum
  web/server/main.go
  web/server/nginx.conf
Due: none

Rename functions
  plants/app/pkg/http/graphql/handler.go
  web/server/main.go
Due: none

Add Terraform
  .github/workflows/api-gateway.yml
  .github/workflows/plants-app.yml
  .github/workflows/plants-db.yml
  .gitignore
  devops/cloud-init.yml
  devops/main.tf
Due: none

Refactor
  plants/app/pkg/http/graphql/handler.go
  plants/app/pkg/http/graphql/resolvers.go
  plants/app/pkg/storage/mongodb/repository.go
  web/server/go.mod
  web/server/go.sum
  web/server/main.go
Due: none

Path conditions:
  cd plants && npm run lint: any of: plants/**/*.{js,jsx,ts,tsx}
  cd plants && npm run format: any of: plants/**/*.{js,jsx,ts,tsx,html,css,json,md,yaml,yml,graphql}
  cd ui && npm run lint: any of: ui/**/*.{js,jsx,ts,tsx}
  cd ui && npm run format: any of: ui/**/*.{js,jsx,ts,tsx,html,css,json,md,yaml,yml,graphql}
