Repository lewislbr/plants-almanac: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-go, docker-typescript, docker-eslint, docker-prettier

docker-go:
  name: users-app-go
  language: docker_image
  entry: golang:1-alpine sh -c "cd users && gofmt -l -s -w ."
  verbose: true

docker-typescript:
  name: web-app-typescript
  language: docker_image
  pass_filenames: false
  entry: lewislbr/plantdex_web-app:dev sh -c "cd web && npm run ts"
  verbose: true

docker-eslint:
  name: web-app-eslint
  language: docker_image
  entry: lewislbr/plantdex_web-app:dev sh -c "cd web && npm run lint"
  verbose: true

docker-prettier:
  name: web-app-prettier
  language: docker_image
  entry: lewislbr/plantdex_web-app:dev sh -c "cd web && npm run format"
  verbose: true

Move navbar to bottom
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/Header.tsx
  web/src/components/NavBar.tsx
  web/src/components/index.ts
  web/src/views/PlantDetails.tsx
  web/src/views/PlantList.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Edit styles
  web/src/theme.ts
  web/src/views/AddPlant.tsx
  web/src/views/PlantList.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Move plants-db to MongoDB Cloud
  .github/workflows/plants-app.yaml
  .github/workflows/plants-db.yaml
  Makefile
  docker-compose-dev.yaml
  plants/Dockerfile.prod
  plants/db/.dockerignore
  plants/db/Dockerfile.dev
  plants/db/Dockerfile.prod
  plants/db/mongod.conf
  plants/src/storage/repository.go
Due: docker-go

Correct casing
  plants/Dockerfile.prod
  web/Dockerfile.prod
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Add Terraform's MongoDB Atlas setup
  .terraform/mongodb-atlas.tf
Due: none

Restructure Terraform config
  .gitignore
  .terraform/.terraform.lock.hcl
  .terraform/cloud-init.yaml
  .terraform/digitalocean.tf
  .terraform/main.tf
Due: none

Refactor loading and error states
  web/src/components/Error.tsx
  web/src/components/Loading.tsx
  web/src/components/index.ts
  web/src/constants/error.ts
  web/src/constants/index.ts
  web/src/views/AddPlant.tsx
  web/src/views/PlantDetails.tsx
  web/src/views/PlantList.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Refactor constants
  web/src/components/Alert.tsx
  web/src/constants/copy.ts
  web/src/constants/error.ts
  web/src/constants/fetch.ts
  web/src/constants/index.ts
  web/src/constants/sort.ts
  web/src/graphql/index.ts
  web/src/services/plant.ts
  web/src/views/AddPlant.tsx
  web/src/views/PlantDetails.tsx
  web/src/views/PlantList.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Remove terraform
  .gitignore
  .terraform/.terraform.lock.hcl
  .terraform/cloud-init.yaml
  .terraform/digitalocean.tf
  .terraform/main.tf
  .terraform/mongodb-atlas.tf
Due: none

Remove ingress
  .github/workflows/ingress.yaml
  docker-compose-dev.yaml
  ingress/.dockerignore
  ingress/Dockerfile.dev
  ingress/Dockerfile.prod
  ingress/routes-dev.yaml
  ingress/routes-prod.yaml
  ingress/traefik-dev.yaml
  ingress/traefik-prod.yaml
Due: none

Rename files and variables
  .github/workflows/plants-app.yaml
  .github/workflows/web-app.yaml
  .pre-commit-config.yaml
  docker-compose-dev.yaml
  plants/src/api/router.go
  plants/src/api/schema.go
  users/src/api/router.go
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Remove unneeded dependency
  plants/go.mod
  plants/go.sum
  plants/src/api/router.go
  plants/src/storage/repository.go
  users/go.mod
  users/go.sum
  users/src/api/router.go
Due: docker-go

Set up for Google Cloud
  .github/workflows/plants.yaml
  .github/workflows/web.yaml
  plants/src/api/router.go
  users/src/api/router.go
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Format
  plants/Dockerfile.prod
  users/Dockerfile.prod
Due: docker-go

Refactor database variables
  .github/workflows/plants.yaml
  plants/src/storage/repository.go
Due: docker-go

Format
  plants/src/api/resolvers.go
  plants/src/api/router.go
  plants/src/storage/repository.go
Due: docker-go

Add users service
  .github/workflows/users.yaml
  .github/workflows/web.yaml
  Makefile
  plants/src/add/service.go
  plants/src/api/resolvers.go
  plants/src/api/router.go
  plants/src/api/schema.go
  plants/src/delete/service.go
  plants/src/edit/service.go
  plants/src/list/service.go
  plants/src/storage/repository.go
  users/Dockerfile.prod
  users/go.mod
  users/go.sum
  users/src/add/service.go
  users/src/api/handlers.go
  users/src/api/router.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
  users/src/create/service.go
  users/src/delete/service.go
  users/src/edit/service.go
  users/src/list/service.go
  users/src/storage/repository.go
  users/src/user/entity.go
  web/src/App.tsx
  web/src/components/NavBar.tsx
  web/src/constants/copy.ts
  web/src/constants/user.ts
  web/src/contexts/auth.tsx
  web/src/index.tsx
  web/src/interfaces/user.ts
  web/src/services/user.ts
  web/src/views/AddPlant.tsx
  web/src/views/CreateAccount.tsx
  web/src/views/LogIn.tsx
  web/src/views/PlantDetails.tsx
  web/src/views/PlantList.tsx
  web/src/views/Welcome.tsx
  web/src/views/index.ts
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Divide web app by domain
  web/package.json
  web/src/App.tsx
  web/src/constants/user.ts
  web/src/index.tsx
  web/src/plant/components/PlantCard.tsx
  web/src/plant/components/index.ts
  web/src/plant/constants/copy.ts
  web/src/plant/constants/sort.ts
  web/src/plant/interfaces/Add.ts
  web/src/plant/interfaces/Delete.ts
  web/src/plant/interfaces/Edit.ts
  web/src/plant/interfaces/Plant.ts
  web/src/plant/interfaces/Plants.ts
  web/src/plant/interfaces/globalTypes.ts
  web/src/plant/services/plant.ts
  web/src/plant/services/sort.ts
  web/src/plant/views/AddPlant.tsx
  web/src/plant/views/PlantDetails.tsx
  web/src/plant/views/PlantList.tsx
  web/src/plant/views/index.ts
  web/src/shared/components/Alert.tsx
  web/src/shared/components/Error.tsx
  web/src/shared/components/Loading.tsx
  web/src/shared/components/NavBar.tsx
  web/src/shared/components/index.ts
  web/src/shared/constants/copy.ts
  web/src/shared/constants/error.ts
  web/src/shared/constants/fetch.ts
  web/src/shared/services/storage.ts
  web/src/shared/theme.ts
  web/src/user/constants/copy.ts
  web/src/user/constants/user.ts
  web/src/user/contexts/auth.tsx
  web/src/user/interfaces/user.ts
  web/src/user/services/user.ts
  web/src/user/views/CreateAccount.tsx
  web/src/user/views/LogIn.tsx
  web/src/user/views/Welcome.tsx
  web/src/user/views/index.ts
Due: docker-typescript, docker-eslint, docker-prettier

Refactor web error handling
  users/src/api/handlers.go
  users/src/user/entity.go
  web/src/plant/services/plant.ts
  web/src/plant/views/AddPlant.tsx
  web/src/plant/views/PlantDetails.tsx
  web/src/plant/views/PlantList.tsx
  web/src/shared/components/Dialog.tsx
  web/src/shared/components/Error.tsx
  web/src/shared/components/index.ts
  web/src/shared/constants/http.ts
  web/src/user/services/user.ts
  web/src/user/views/CreateAccount.tsx
  web/src/user/views/LogIn.tsx
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Remove uneeded service
  web/src/plant/services/plant.ts
  web/src/plant/views/PlantList.tsx
  web/src/shared/services/storage.ts
  web/src/user/services/user.ts
Due: docker-typescript, docker-eslint, docker-prettier

Fix unnecessary rerender
  web/src/plant/views/PlantList.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Rename variables
  web/src/plant/services/plant.ts
  web/src/user/services/user.ts
Due: docker-typescript, docker-eslint, docker-prettier

Refactor JWT handling
  plants/src/api/router.go
  users/src/api/handlers.go
  users/src/api/router.go
  users/src/authenticate/service.go
  web/src/plant/services/plant.ts
  web/src/user/constants/user.ts
  web/src/user/services/user.ts
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Refactor input regex
  web/src/user/constants/user.ts
  web/src/user/views/CreateAccount.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Remove unexisting path
  web/.eslintrc
Due: docker-typescript, docker-eslint, docker-prettier

Refactor
  plants/src/api/resolvers.go
  plants/src/api/router.go
  plants/src/api/schema.go
  plants/src/main.go
  plants/src/storage/repository.go
  users/src/api/handlers.go
  users/src/authenticate/service.go
  users/src/create/service.go
  users/src/main.go
Due: docker-go

Refactor error handling
  plants/go.mod
  plants/src/add/service.go
  plants/src/api/resolvers.go
  plants/src/api/router.go
  plants/src/delete/service.go
  plants/src/edit/service.go
  plants/src/list/service.go
  plants/src/storage/repository.go
  users/go.mod
  users/src/api/handlers.go
  users/src/api/router.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
  users/src/create/service.go
  users/src/storage/repository.go
  users/src/user/entity.go
Due: docker-go

Refactor
  plants/src/add/service.go
  plants/src/api/resolvers.go
  plants/src/api/router.go
  plants/src/delete/service.go
  plants/src/edit/service.go
  plants/src/list/service.go
  plants/src/plant/entity.go
  plants/src/storage/driver.go
  plants/src/storage/repository.go
  users/src/api/handlers.go
  users/src/api/router.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
  users/src/create/service.go
  users/src/storage/driver.go
  users/src/storage/repository.go
  users/src/user/entity.go
Due: docker-go

Enable PWA
  web/package-lock.json
  web/package.json
  web/src/assets/images/apple-icon-180.png
  web/src/assets/images/apple-splash-1125-2436.png
  web/src/assets/images/apple-splash-1136-640.png
  web/src/assets/images/apple-splash-1170-2532.png
  web/src/assets/images/apple-splash-1242-2208.png
  web/src/assets/images/apple-splash-1242-2688.png
  web/src/assets/images/apple-splash-1284-2778.png
  web/src/assets/images/apple-splash-1334-750.png
  web/src/assets/images/apple-splash-1536-2048.png
  web/src/assets/images/apple-splash-1620-2160.png
  web/src/assets/images/apple-splash-1668-2224.png
  web/src/assets/images/apple-splash-1668-2388.png
  web/src/assets/images/apple-splash-1792-828.png
  web/src/assets/images/apple-splash-2048-1536.png
  web/src/assets/images/apple-splash-2048-2732.png
  web/src/assets/images/apple-splash-2160-1620.png
  web/src/assets/images/apple-splash-2208-1242.png
  web/src/assets/images/apple-splash-2224-1668.png
  web/src/assets/images/apple-splash-2388-1668.png
  web/src/assets/images/apple-splash-2436-1125.png
  web/src/assets/images/apple-splash-2532-1170.png
  web/src/assets/images/apple-splash-2688-1242.png
  web/src/assets/images/apple-splash-2732-2048.png
  web/src/assets/images/apple-splash-2778-1284.png
  web/src/assets/images/apple-splash-640-1136.png
  web/src/assets/images/apple-splash-750-1334.png
  web/src/assets/images/apple-splash-828-1792.png
  web/src/assets/images/manifest-icon-192.png
  web/src/assets/images/manifest-icon-512.png
  web/src/assets/images/original/plant.svg
  web/src/index.html
  web/src/index.tsx
  web/src/manifest.json
  web/src/service-worker.ts
  web/tsconfig.json
  web/webpack.config.ts
Due: docker-typescript, docker-eslint, docker-prettier

Update dependencies
  web/package-lock.json
  web/package.json
Due: docker-typescript, docker-prettier

Set up persistent Apollo query cache
  web/src/plant/services/plant.ts
  web/tsconfig.json
  web/webpack.config.ts
Due: docker-typescript, docker-eslint, docker-prettier

Disable button if no changes when editing
  web/src/plant/views/AddPlant.tsx
Due: docker-typescript, docker-eslint, docker-prettier

Add JWT expiration
  users/src/api/handlers.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
Due: docker-go

Simplify code
  .github/workflows/plants.yaml
  .github/workflows/users.yaml
  .github/workflows/web.yaml
  plants/src/add/service.go
  plants/src/api/resolvers.go
  plants/src/api/router.go
  plants/src/delete/service.go
  plants/src/edit/service.go
  plants/src/list/service.go
  plants/src/plant/entity.go
  plants/src/storage/driver.go
  plants/src/storage/repository.go
  users/src/api/handlers.go
  users/src/api/router.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
  users/src/create/service.go
  users/src/storage/driver.go
  users/src/storage/repository.go
  users/src/user/entity.go
  web/src/plant/services/plant.ts
  web/src/plant/views/AddPlant.tsx
  web/src/user/services/user.ts
  web/src/user/views/CreateAccount.tsx
  web/src/user/views/LogIn.tsx
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Restructure to clean architecture
  plants/src/add/service.go
  plants/src/api/resolver.go
  plants/src/api/schema.go
  plants/src/api/server.go
  plants/src/delete/service.go
  plants/src/edit/service.go
  plants/src/list/service.go
  plants/src/main.go
  plants/src/plant/entity.go
  plants/src/plant/error.go
  plants/src/storage/driver.go
  plants/src/storage/repository.go
  users/src/api/handler.go
  users/src/api/server.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
  users/src/create/service.go
  users/src/main.go
  users/src/storage/driver.go
  users/src/storage/repository.go
  users/src/user/entity.go
  users/src/user/error.go
Due: docker-go

Add unit tests
  .gitignore
  .pre-commit-config.yaml
  users/go.mod
  users/src/authenticate/service_test.go
  users/src/authorize/service_test.go
  users/src/create/service_test.go
Due: docker-go

Add token refresh
  .github/workflows/web.yaml
  users/src/api/handler.go
  users/src/api/server.go
  users/src/authenticate/service.go
  users/src/authenticate/service_test.go
  users/src/authorize/service_test.go
  users/src/generate/service.go
  users/src/generate/service_test.go
  users/src/main.go
  users/src/user/entity.go
  web/src/App.tsx
  web/src/user/services/user.ts
Due: docker-go, docker-typescript, docker-eslint, docker-prettier

Refactor
  plants/src/add/service.go
  plants/src/api/resolver.go
  plants/src/api/schema.go
  plants/src/api/server.go
  plants/src/delete/service.go
  plants/src/edit/service.go
  plants/src/list/service.go
  plants/src/main.go
  plants/src/storage/repository.go
  users/src/api/handler.go
  users/src/authenticate/service.go
  users/src/authorize/service.go
  users/src/create/service.go
  users/src/generate/service.go
  users/src/main.go
  users/src/storage/repository.go
Due: docker-go

Refactor
  .pre-commit-config.yaml
  users/api/handler.go
  users/authenticate/service_test.go
  users/create/service_test.go
  users/generate/service_test.go
  users/storage/mock.go
Due: docker-go

Path conditions:
  docker-go: (any of: plants) or (any of: users)
  docker-typescript: any of: web
  docker-eslint: any of: web and not (\.css$) and not (\.(html|htm|xhtml)$) and not (\.json$)
  docker-prettier: any of: web
